@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background: rgb(40, 33, 53) url("radio-backgroundpiece.jpg");
  background: rgb(40, 33, 53), rgb(61,46,83);
  color: rgb(240, 240, 240);
  font-family: "Open Sans", cursive;
}

h1 {
  margin: 1em 0 0 0;
  font-size: 3rem;
}
h2 {
  margin-bottom: 2em;
  font-size: 2rem;
}

.radio {
  max-width: 60em;
  width: 90%;
  .languageInput {
    height: 2rem;
    width: 20rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(40, 31, 53);
    color: white;
    border: 1px solid gray;
    border-radius: 0.25rem;
    display: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1rem 2rem 1rem;

    &:focus {
      outline: none !important;
      border-color: #e36bae;
      box-shadow: 0 0 0.5rem gray;
    }
  }
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
  font-size: 1.2rem;
  width: 100%;
}
span {
  margin: 0.25em;
  border:2px solid #e36bae;
  border-radius: 10px;
  padding: 0.25em 0.75em;

  &:hover {
    cursor: pointer;
    background: linear-gradient(#e66465, #9198e5);
  }
}

.selected {
  background: linear-gradient(#e66465, #9198e5);
}

.stations {
  display: grid;
  grid-template-columns: repeat(3,33%);
  width: 100%;
}

.station {
  font-size: 1.2em;
  border: 2px solid rgb(76, 62, 95);
  margin: 0.25em;
  border-radius: 10px;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: #e66465;
  }
}

.stationName {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.name {
  width: 100%;
  text-align: center;
}

img {
  display: block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 2px solid rgb(76, 62, 95);
}

audio {
  width: 100%;
}

.rhap_container.player {
  background-color: rgb(76, 62, 95);
  display: flex;
  justify-items: center;
  padding: 0,25em, 0,75em;
  border-radius: 10px;
}

.rhap_stacked .rhap_controls_section {
  margin_top: 0 !important;
}

.rhap_controls-section .rhap_volume-controls {
  justify-content: center;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: rgb(235, 235, 235) !important;
}
.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: #e66465 !important;
}

@media only screen and (max-width: 600px) {
  .stations {
    grid-template-columns: repeat(1, 100%);
  }
  img {
    display: none;
  }
}
